*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */

#nav_section{
    background: #000816;
}
.container{
    max-width: 1430px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navlogo{
    margin: 30px 80px;
    
}
.navlist ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style: none;

}
.navlist li a{
    color: white;
    text-decoration: none;
    margin: 40px;
}
.fa-solid {
    color: white;
}

.navbtn{
    
    padding: 12px 32px 12px 32px;
    border-radius: 8px;
    border: 1px solid white;
    margin-right: 80px;
    

}
.navbtn a{
    text-decoration: none;
    color: white;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

/* nav_section */

/* hero_section */

#herosection{
    background:#000816;
    color: white;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
    
}

.leftsection{
    margin: 120px 80px;
}
.hero-container .leftsection h1{
    font-family: Outfit;
    font-size: 64px;
    font-weight: 500;
    line-height: 76.8px;
    text-align: left;

}
.leftsection p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.herobtn{
    background: #003BA4;
    display: inline-block;
    padding: 20px 50px 20px 48px;
    border-radius: 16px;
    margin: 80px 0;
}
.herobtn a{
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    text-align: left;
    padding: 16px;

}

.boxbtn{
    display: flex;
    align-items: center;
    
    
}
.boxbtn h6{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;


}
.completebox  {
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 16px;
    padding: 30px;
    
    
}
.experiencebox{
    border: 1px solid white;
    border-radius: 5px;
    margin: 16px;
    padding: 30px;

}
.clientbox{border: 1px solid white;
    border-radius: 5px;
    margin: 16px;
    padding: 30px;

}

.completebox  h4{

    font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 43.2px;
text-align: center;


}
.experiencebox  h4{

    font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 43.2px;
text-align: center;


}
.clientbox  h4{

    font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 43.2px;
text-align: center;


}
.completebox  h6{

font-size: 14px;
text-align: center;
font-weight: 400;


}
.experiencebox  h6{

font-size: 14px;
text-align: center;
font-weight: 400;


}
.clientbox  h6{

font-size: 14px;
text-align: center;
font-weight: 400;


}

/* hero section end */

/* company start */

#Company{
    background: #003BA4;
    padding: 80px;
}
.company-container{
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    justify-content: space-evenly;
  
}
.companyname{
    float: left;
}
.companyname h3{
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;

}
.companyname h2{

    font-family: Inter;
    font-size: 32px;
    color: white;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;

}
.companylogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* company section end */
/* service start */
.services-container{
    padding-bottom: 80px;
}

.service{
    max-width: 1450px;
    margin: 0 auto;
}

.main_services{
    max-width: 1440px;
    margin: 0 auto;
}
.servicestext{
    
    margin-top: 80px;
    text-align: center;
   
}
.servicestext h1{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;


}
.servicestext h4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;



}

.servicebox img{
    width: 40%;
    margin-left: 30%;
    
    
}
.boxtext{
    text-align: center;
    padding: 40px;
}
.boxtext h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: center;
    padding: 16px;

}
.boxtext p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;

}

.services-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.uibox{
    background: #F0F5FF;
    padding-bottom: 30px;

}
.mobilebox {
    background: #F0F5FF;
    padding-bottom: 30px;

}
.webbox{
    padding-bottom: 30px;

}
.digitalbox{
    padding-bottom: 30px;
}
.boxtext a{
    text-decoration: none;
    color: #003BA4;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;


    
}

/* Service section end */

/* portfolio */

#portfolio{
    background:#000816 ;
}

.portfoliohead h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;


}
.portfoliohead h1{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;



}

.portfolio-container{
    max-width: 1440px;
    margin: 0 auto;
}
.portfoliohead{
    color: white;
    position: relative;
    text-align: center;
    padding: 80px;
    
    
}
.portfoliopic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 22px;
}
.portfoliopic img{
    width: 100%;
}
.porfoliobtn{
    text-align: center;
    padding: 80px 30px;
}
.porfoliobtn a{
    border: 8px solid #003BA4;
    background:#003BA4 ;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -2%;
    padding: 5px 35px;
}

/* portfolio end */

/* About start */

.about-container{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.abouttext{
    padding-left: 40px;
    padding-bottom:35px;
    
}
.aboutpic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 16px;
    
    
}
.aboutpic img{
    width: auto;
    padding: 5px;
}
.abouthead{
    text-align: center;
    padding: 80px;
}
.abouthead h3{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;


}
.abouthead h2{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
    
}
.inner1{
    display: flex;
    align-items: center;
    padding: 30PX 0;
    
}
.inner2{
    display: flex;
    align-items: center;
    padding: 30PX 0;
    

}
.pic{
    padding: 16px;
}
.aboutbtn{
    text-align: left;


}
.aboutbtn a{
    background: #003BA4;
    padding: 20px 50px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    text-align: left;
    
}

.abouttext p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}
.write h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    

}
.write p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;


}


/* about end */
/* testimonial */


#section{
    background: #F0F5FF;
}
.testhead{
    text-align: center;
    padding: 80px;
}
.testhead h5{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;
    

}
.testhead h3{
    
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
    

}

.commentsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.leftcomment{
    background: white;
    border-radius: 16px;
    padding: 80px;
    margin: 8px;
    text-align: left;
}
.leftcomment p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.rightcomment{
    background: white;
    border-radius: 8px;
    padding: 80px;
    margin: 8px;
}
.rightcomment p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}
.quote{
    margin-left: 40%;
}
.picrate{
    padding: 20px 100px;
    display: flex;
    align-items: center;
    
}
.picrate h2{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;


}
.picrate img{
    display: inline-block;
    padding: 4px;
}
.picrate{
    float: left;
}
.la{
    padding: 16px;
    text-align: left;
    
}
.la h2{
    padding: 4px;
}
.la img{
    padding-left: 25px;
}

/* testimonial end */

/* blog start */

.bloghead{
    text-align: center;
    padding: 80px;
}
.bloghead h5{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;

    

}
.bloghead h2{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
    color: #000816;


}
.blogbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.blogbox p{
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
    text-align: center;
    line-height: 33.5px;
    color: #000816;
    font-family: Plus Jakarta Sans;


}
.blogbox a {

    text-decoration: none;
    color: #003BA4;
    padding-top: 16px;
}
.a{

    padding-right: 30px;
    text-align: center;
    padding-top: 20px;
    color: #003BA4;

}
.bloglower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}
.bloglower h3 h5{
    font-size: 14px;
    font-weight: 400;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    
}

/* blog end */

/* footer start */

.footer{
    background: #000816;
    padding: 80px;
    margin-top: 20px;
}
.box1 .logotext {
    color: white;

}
.boxcont{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: baseline;
}

.lo ul{
    list-style: none;
    padding-top: 24px;

}
.lo ul a{
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    

}

.logotext h1{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    padding: 24px 0;
    

}
.logotext h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;


}
.iconlist i{
    padding-right: 15px;
}

.boxtext h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;

}




#quick  ul{

    list-style-type: none;
    padding-top: 24px;
   

}
#quick  ul a{
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding-top: 15px;
   
    

}

.ext{
    
    padding: 24px;
    border-radius: 8px;
    background: #FFFFFF1A;
    margin-top: 24px;
}


.ext a{
   border: 2px solid #003BA4;
   background:#003BA4;
   text-decoration: none;
   color: black; 
   border-radius: 3px;
   
}

.ext input{
    
    height: 100%;
    background: #FFFFFF1A;
    border: none;
    
}


/* footer end */